---
layout: default
---

{% assign redirects = site.urls | where_exp: "item", "item.redirect_to != nil" %}

<h2 style="margin-top:18px;">Submit a Request for Research Support</h2>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 g-4">
  
{% assign approval_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'help'" %}

{% for page in approval_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#77BD43" %}
{% endfor %}

</div>

<h2 style="margin-top:18px;">Getting a Research Project Approved</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">
  
{% assign approval_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'approval'" %}

{% for page in approval_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#EB1946" %}
{% endfor %}

</div>

<h2 style="margin-top:18px;">Case Report Resources</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">

{% assign casereport_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'casereport'" %}

{% for page in casereport_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#00A6CE" %}
{% endfor %}

</div>
  
<h2 style="margin-top:18px;">Poster Resources</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">

{% assign casereport_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'poster'" %}

{% for page in casereport_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#F7971E" %}
{% endfor %}

</div>


<h2 style="margin-top:18px;">Epic and SlicerDicer</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">

{% assign casereport_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'epic'" %}

{% for page in casereport_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#006dcc" %}
{% endfor %}

</div>

  
<h2 style="margin-top:18px;">Data and Technology Resources</h2>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4">

{% assign casereport_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'tech'" %}

{% for page in casereport_redirects %}
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#FDC800" %}
{% endfor %}

</div>

