---
layout: default
---

{% assign redirects = site.urls | where_exp: "item", "item.redirect_to != nil" %}

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">

{% for page in redirects %}
  {% include card.html url=page.url titlecamel=page.titlecamel description=page.description color="#EB1946" %}
{% endfor %}

{% assign approval_redirects = site.urls | where_exp: "item", "item.redirect_to != nil"  | where_exp: "item", "item.section == 'approval'" %}

{% for page in approval_redirects %}
  K
  {% include_relative _includes/card.html url=page.url titlecamel=page.titlecamel description=page.description color="#EB1946" %}
{% endfor %}

</div>
  
<script>
  function CopyToClipboard(parameter) {navigator.clipboard.writeText(parameter);}
  return false;
</script>
