<div class="col">
  <div class="card h-100 text-dark mb-3" style="border-color: {{ include.color }};">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ include.titlecamel }}</h5>
      <p class="card-text">
        {{ include.description }}
      </p>
    </div>
    <div class="card-footer">
      <a class="btn w-100" href="{{ include.url | relative_url }}" role="button" style="background-color: {{ include.color }}; text-shadow:1px 1px 15px #fff; margin-top:6px;">Go to /{{ include.titlecamel }}</a>
      <button class="btn w-100" style="background-color: {{ include.color }};  text-shadow:1px 1px 15px #fff; margin-top:6px;" onclick="CopyToClipboard('{{ include.url | absolute_url }}');">Copy link to clipboard</button>
    </div>
  </div>
</div>
