<div class="col">
  <div class="card h-100 text-dark mb-3" style="border-color: {{ include.color }};">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ include.titlecamel }}</h5>
      <p class="card-text">
        {{ include.description }}
      </p>
    </div>
    <div class="card-footer">
      <div class="d-flex gap-2">
        <a class="btn flex-grow-1 {{ include.style }}" href="{{ include.url | relative_url }}" role="button" style="background-color: {{ include.color }};">Go to Page</a>
        <div class="dropdown">
          <button class="btn dropdown-toggle {{ include.style }}" style="background-color: {{ include.color }};" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" onclick="copyLink('{{ include.url | absolute_url }}', this)">Copy Link to Clipboard</button>
            </li>
            <li>
              <button class="dropdown-item" onclick="copyQRImage('{{ include.url | absolute_url }}', this)">Copy QR Image to Clipboard</button>
            </li>
            <li>
              <button class="dropdown-item" onclick="showQRModal('{{ include.url | absolute_url }}', '{{ include.url | absolute_url }}')">Display QR Code</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
