// Placeholder to allow overriding predefined variables smoothly.
// You should be able to override any Bootstrap variable here: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Default variable overrides
$enable-rounded: false;

$tertiary: #3fb247;

$theme-colors:map-merge($theme-colors, (
  "tertiary": $tertiary
));

